PORT //value type: string, value in which port the server started;
MONGODB_USER //value type: string, value with username for connect to database;
MONGODB_PASSWORD //value type: string, value with password for connect to database;
MONGODB_URL //value type: string, value with url for connect to database;
MONGODB_DB //value type: string, value with name of database;